# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm files
.idea/

# Environments
env/
venv/
.venv/
.python-version

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode files
.vscode/

# Logs
*.log

# Other
*.pyc
.DS_Store
data/
